body {
    background-color: #22c772;
    font-family: 'Times New Roman', serif;
   background: #22c772;
    background: linear-gradient(180deg,rgba(34, 199, 114, 1) 0%, rgba(76, 199, 129, 1) 25%, rgba(87, 199, 133, 1) 60%, rgba(255, 255, 255, 1) 100%);
    position: relative;
    min-height: 100vh;
}

.header {
    background-color: #4e7343;
    display: flex;
    align-items: center;
    padding: 25px 40px;
    border-bottom: 3px solid black;
}
.titleHeader {
  text-align: center;
  font-size: 50px;
  border-radius: 20px;
  padding: 5px 15px;
}
.headerNav{
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px 0;
  background-color: #B1F496;
  border-bottom: 3px solid #48643D;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
}
.navHeader {
  border: solid #48643D 2px;
  padding: 8px 18px;
  border-radius: 20px;
  background-color: #B1F496;
  box-shadow: 3px 3px 15px 0px #000000;
  font-size: 20px;
  transition: 0.25s ease;
}
.navHeader:hover {
  transform: translateY(-3px);
  box-shadow: 5px 5px 20px rgba(0,0,0,0.3);
}
.navHeader a {
  text-decoration: none;
  color: black;
}
.title {
    font-size: 60px;
    font-weight: bold;
    margin-right: 60px;
    font-family: 'Times New Roman', serif;
}

.nav {
    margin-right: 35px;
}

.nav a {
    background-color: #c8f4c9;
    padding: 7px 30px;
    border-radius: 30px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    transition: 0.2s ease-in-out;
    display: inline-block;
}

.nav a:hover {
    background-color: #b3e7b4;
    transform: scale(1.07);
}

.intro {
    text-align: center;
    margin-top: 40px;
    background-color: #48b76a;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
}

.intro h1 {
    font-size: 32px;
    font-weight: bold;
}

.Features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
}

.feature-card {
    background-color: #58c57e;
    border: solid #000000 2px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    width: 25%;
    min-width: 250px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card h2 {
    background-color: #5dd67e;
    border-radius: 20px;
    border: solid #000000 1px;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}

.feature-card p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
}
footer {
  text-align: center;
  padding: 1.2rem;
  margin-top: 3rem;
  background: #318c5d;
  color: rgb(0, 0, 0);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
}