body {
    background-color: #22c772;
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    color: black;
}

.header {
    background-color: #4e7343;
    display: flex;
    align-items: center;
    padding: 25px 40px;
    border-bottom: 3px solid black;
}

.title {
    font-size: 60px;
    font-weight: bold;
    margin-right: 60px;
    font-family: 'Times New Roman', serif;
}

.nav {
    margin-right: 35px;
}

.nav a {
    background-color: #c8f4c9;
    padding: 7px 30px;
    border-radius: 30px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 2px solid black;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    transition: 0.2s ease-in-out;
    display: inline-block;
}

.nav a:hover {
    background-color: #b3e7b4;
    transform: scale(1.07);
}

.intro {
    text-align: center;
    margin-top: 40px;
    background-color: #48b76a;
    border-radius: 25px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
}

.intro h1 {
    font-size: 32px;
    font-weight: bold;
}

.Features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 40px;
}

.feature-card {
    background-color: #58c57e;
    border: solid #000000 2px;
    border-radius: 25px;
    box-shadow: 2px 2px 10px black;
    text-align: center;
    width: 25%;
    min-width: 250px;
    padding: 20px;
    transition: transform 0.2s ease;
}

.feature-card:hover {
    transform: scale(1.05);
}

.feature-card h2 {
    background-color: #5dd67e;
    border-radius: 20px;
    border: solid #000000 1px;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
}

.feature-card p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.5;
}