/* This is the css file for team*/
body{
    background: #22c772;
    background: linear-gradient(180deg,rgba(34, 199, 114, 1) 0%, rgba(76, 199, 129, 1) 35%, rgba(87, 199, 133, 1) 28%, rgba(255, 255, 255, 1) 100%);
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#bird1{
   
    position: relative;
    height: 20vh;
    bottom: 60vh;
    left: 185vb;
}

h1{
    position: relative;
    bottom: 670px;

}

nav{
    position: relative;
    right: 185vh;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    top: 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}