/* This is the css file for team*/
body{
    background: #22c772;
    background: linear-gradient(180deg,rgba(34, 199, 114, 1) 0%, rgba(76, 199, 129, 1) 35%, rgba(87, 199, 133, 1) 28%, rgba(255, 255, 255, 1) 100%);
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#bird1{
   
    position: relative;
    height: 20vh;
    bottom: 60vh;
    left: 185vb;
}

h1{
    position: relative;
    bottom: 670px;

}
.header{
    border-bottom: solid #48643D 4px;
    padding: 20px;
}
.title{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 50px;
    width: 150px;
}
.nav{
    border: solid #48643D 2px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:3px 3px 15px 0px #000000;
    border-radius: 20px;
    display: inline-block;
    background-color: #B1F496;
    margin-right: 20px;
    font-size: 20px;
}
.img_div{
    text-align: center;
    padding-top: 20px;
}
.img{
   width: 100vh;
    height: auto; 
      border-radius: 70px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}