/* This is the css file for team*/
body{
    background: #22c772;
    background: linear-gradient(180deg,rgba(34, 199, 114, 1) 0%, rgba(76, 199, 129, 1) 35%, rgba(87, 199, 133, 1) 28%, rgba(255, 255, 255, 1) 100%);
    color: #222;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
  text-align: center;
  margin: 2rem auto;
  max-width: 800px;
}
.container{
    border-bottom: solid #48643D 4px;
    padding: 20px;
}
header h1 {
  font-size: 2.5rem;
  color: #04663a;
  margin-bottom: 0.5rem;
}
header .lead {
  font-size: 1rem;
  color: #333;
}
.title{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 50px;
    width: 150px;
}
.nav{
    border: solid #48643D 2px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:3px 3px 15px 0px #000000;
    border-radius: 20px;
    display: inline-block;
    background-color: #B1F496;
    margin-right: 20px;
    font-size: 20px;
}
.img_div{
    text-align: center;
    padding-top: 20px;
}
.img{
   width: 100vh;
    height: auto; 
      border-radius: 70px;
}
.grid {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 2rem;
  overflow-x: auto;
  white-space: nowrap;
  justify-content: center;
}
section{
  margin-top: 40px;
  width: 95%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid darkgreen;
  border-radius: 40px;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(0, 0, 0);           
  margin-bottom: 20px;
  
}
.card {
  width: 260px;
  flex: 0 0 auto;
  background: rgb(162, 234, 148);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}
.card:hover {
  transform: scale(1.03);
}
.avatar img {
  border-radius: 50%;
  border: 3px solid #22c772;
}
.role {
  color: #0a9a5b;
  font-weight: 600;
}
footer {
  text-align: center;
  padding: 1rem;
  background: #04663a;
  color: rgb(0, 0, 0);
  margin-top: auto;
}
a{
    text-decoration: none;
    color: black;
}
.bird1 {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  height: 15vh;
  width: auto;
  object-fit: contain;
  opacity: 0.9;
  z-index: 10;
  animation: float 4s ease-in-out infinite alternate;
}