body{
    background-color: #618652;
}
nav{
    text-align: right;
    font-size: medium;
    height: 10vh;
    width: 100%;
    border-bottom: solid #48643D 4px;
}
.nav{
    border: solid #48643D 2px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:3px 3px 15px 0px #000000;
    border-radius: 20px;
    display: inline-block;
    background-color: #B1F496;
    margin: 30px;
    font-size: 20px;
}
.img_div{
    text-align: center;
    padding-top: 20px;
}
.img{
   width: 100vh;
    height: auto; 
      border-radius: 70px;
}
article{
    height: 90vh;
    width: 100%;
    margin-top: -50px;
}
.statment{
    text-align: center;
    font-size: large; 
}
.wl{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;    
}
footer{
    height: 10vh;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}