body{
    background: #22c772;
    background: linear-gradient(180deg,rgba(34, 199, 114, 1) 0%, rgba(76, 199, 129, 1) 35%, rgba(87, 199, 133, 1) 28%, rgba(255, 255, 255, 1) 100%);
}
.header{
    border-bottom: solid #48643D 4px;
    padding: 20px;
}
.title{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    font-size: 50px;
    width: 150px;
}
.nav{
    border: solid #48643D 2px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:3px 3px 15px 0px #000000;
    border-radius: 20px;
    display: inline-block;
    background-color: #B1F496;
    margin-right: 20px;
    font-size: 20px;
}
.img_div{
    text-align: center;
    padding-top: 20px;
}
.img{
    width: 100vh;
    height: auto; 
    border-radius: 70px;
}
article{
    height: 90vh;
    width: 100%;
    margin-top: -50px;
}
aside{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
section{
    margin-top: 100px;
    height: 70vh;
    width: 100vh;
    border: 2px solid darkgreen;
    border-radius: 40px;
}
.statment{
    text-align: center;
    font-size: large; 
}
.wl{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;    
}
footer{
    height: 10vh;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}