body{
    padding: 0;
    margin: 0;
}
/* This is the css file for the pricing page*/
nav{
    text-align: right;
    font-size: medium;
    height: 10vh;
    width: 100%;
    border-bottom: solid #48643D 4px;
}
.nav{
    border: solid #48643D 2px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow:3px 3px 15px 0px #000000;
    border-radius: 20px;
    display: inline-block;
    background-color: #B1F496;
    margin: 30px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: black;
}
/*
    above is for nav bar
    bellow is for this page
*/
.container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10vh 65vh 10vh;
    padding: 20px;
    justify-content: center;
    text-align: center;
    background-image: url("Photos/Health2.jpg")
}
.container div{
    justify-items: center;
    background-color: #AAEC90;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    border-color: black;
    margin: 20px;
    padding: 20px;
    align-items: center;
    font-size: 15px;
}
div.title{
    margin-inline-start: 2px;
    margin-inline-end: 2px;
}
h2.centerText{
    margin: -10px;
}
h3.centerText{
    margin: -10px;
}
button.priceB{
    justify-items: center;
    background-color: #AAEC90;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    border-color: black;
    margin: 10px;
    padding: 20px;
    align-items: center;
    font-size: 15px;
}
button:hover{
    background-color: #B1F496;
    color: white;
}